<div class="offcanvas offcanvas-start" tabindex="-1" id="side-offcanvas-nav" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            <img src="/node.png" alt="">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- <div></div> -->
        <ul class="side-nav-list">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/bill/new">New Bill</a></li>
            <li><a href="/inventory">Inventory</a></li>
        </ul>
    </div>
</div>