<%- layout('layouts/boilerplate') %>

<form action="/inventory" method="post" class="form-size">
    <h2 class="mb-4">Add new item</h2>
    <div class="form-floating mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required name="name" minlength="5" maxlength="60">
    </div>
    <div class="form-floating mb-3">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" required name="price" min="0">
    </div>
    <div class="form-floating mb-3">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" value="local" maxlength="60" name="manufacturer">
    </div>
    <div class="form-floating mb-3">
        <label for="manufacturer_price">Manufacturer price</label>
        <input type="number" class="form-control" id="manufacturer_price" min="0" required name="manufacturer_price">
    </div>
    <div class="form-floating mb-3">
        <label for="stock">Stock</label>
        <input type="number" class="form-control" id="stock" min="0" name="stock" value="50">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success btn-lg m-3">Add</button>
        <button type="reset" class="btn m-3">Reset</button>
    </div>
</form>