<%- layout('layouts/boilerplate') %>

<form action="/inventory" method="post" class="form-size">
    <h2 class="mb-4">Add new item</h2>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" required name="name" placeholder="name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="price" required name="price" placeholder="price">
        <label for="price">Price</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="manufacturer">
        <label for="manufacturer">Manufacturer</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="manufacturer_price" required name="manufacturer_price" placeholder="manufacturer_price">
        <label for="manufacturer_price">Manufacturer price</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="stock" name="stock" placeholder="stock" value="50">
        <label for="stock">Stock</label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success btn-lg m-3">Add</button>
        <button type="reset" class="btn m-3">Reset</button>
    </div>
</form>